{% extends 'posts/base.html' %}

{% block content %}
  <div class="post">
    {% if post.date_pub %}
      <div class="date">
        {{ post.date_pub }}
      </div>
    {% endif %}
    <h1>{{ post.title }}</h1>
    <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span>Edit</a>
    {% if post.authors %}
      <div class="author">
        {{ post.author }}
      </div>
    {% endif %}
    <p>{{ post.body|linebreaksbr }}</p>
  </div>
{% endblock %}
