{% extends 'posts/base.html' %}

{% block content %}
  <div class="leftcolumn">
    <div class="card">
      <h1>{{ post.title }}</h1>
      {% if post.author %}
        <div class="author">
          <p>author: {{ post.author.username }}</p>
        </div>
      {% endif %}
      {% if post.date_pub %}
        <div class="date">
          <h4>Published: {{ post.date_pub }}</h4>
        </div>
      {% else %}
      <div class="buttons">
        {% if user.is_authenticated %}
          <a href="{% url 'post_publish' pk=post.pk %}"><div class="publish"></div></a>
        {% endif %}
      {% endif %}
      {% if user.is_authenticated %}
          <a href="{% url 'post_edit' pk=post.pk %}"><div class="edit" "></div></a>
          <a href="{% url 'post_remove' pk=post.pk  %}"><div class="remove" ></div></a>
      {% endif %}
      </div>
      <p>{{ post.body|linebreaksbr }}</p>
      <hr>
      {% if post.date_pub %}
        <a class="btn btn-info" href="{% url 'add_comment_to_post' pk=post.pk %}">Add Comment</a>
        {% for comment in post.comments.all %}
          {% if user.is_authenticated or comment.approved_comment %}
            <div class="comment">
              <div class="date">
                {{ comment.date_created }}
                {% if not comment.approved_comment %}
                    <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}">Remove</span></a>
                    <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}">Approve</span></a>
                {% endif %}
              </div>
              <strong>{{ comment.author }}</strong>
              <p>{{ comment.body|linebreaks }}</p>
            </div>
            <hr>
          {% endif %}
        {% empty %}
          <p>No comments, yet :(</p>
        {% endfor %}
      {% endif %}
    </div>
  </div>
  <!-- <div class="rightcolumn1">
    <div class="card">
      <h3>Popular Posts</h3>
      <div class="fakeimg" style="height: 1px;"></div>
      <div class="fakeimg" style="height: 1px;"></div>
      <div class="fakeimg" style="height: 1px;"></div>
    </div>
    <div class="card">
      <h3>Follow Me</h3>
      <p>Some text..</p>
    </div>
  </div> -->
{% endblock %}
